{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profile</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="body max-w-3xl mx-auto bg-white rounded-xl" style="padding-top: 100px;">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-center text-3xl mb-4 font-extrabold text-black" style="font-family: Krona One;">My Profile</h1>
        <div class="text-left" style="font-family: Krona One;">
            <p style="font-family: Krona One; font-size: small;">Name: {{ user_info.Username }}</p>
            <p style="font-family: Krona One; font-size: small;">Level: {{ customer_info.Level }}</p>
            <p style="font-family: Krona One; font-size: small;">Sex: {{ user_info.Sex }}</p>
            <p style="font-family: Krona One; font-size: small;">Phone Number: {{ user_info.PhoneNum }}</p>
            <p style="font-family: Krona One; font-size: small;">Birth Date: {{ user_info.DoB }}</p>
            <p style="font-family: Krona One; font-size: small;">Address: {{ user_info.Address }}</p>
            <p style="font-family: Krona One; font-size: small;">MyPay Balance: {{ user_info.MyPayBalance }}</p>
        </div>
    </div>

    <!-- Update Profile Button -->
    <div class="flex justify-center mt-8">
        <a href="{% url 'main:update-customer-profile' %}" 
           class="bg-[#2299A8] hover:bg-[#1C677E] text-white font-bold py-2 px-4 rounded transition duration-300">
            Update Profile
        </a>
    </div>
</div>
{% endblock content %}
