{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>MyPay Transaction</title>
<link rel="stylesheet" href="{% static 'css/nice.css' %}">
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="body max-w-3xl mx-auto bg-white rounded-xl" style="padding-top: 70px;">
    <div class="container">
        <!-- Header Section -->
        <div class="header">
            MyPay Transaction
        </div>
        
        <!-- Transaction Category Dropdown Old 
        <div class="mb-4">
            <label for="category-select">Transaction Category</label>
            <select id="category-select" class="form-select">
                {% for value, label in categories %}
                <option value="{{ value }}" {% if value == selected_category %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
            {% if not categories %}
                <p class="text-danger mt-2">Not possible to perform any transactions. Please check your account type with support.</p>
            {% endif %}
        </div>

        <form method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
            <div class="row-container">
                <label for="{{ field.id_for_label }}">
                  {{ field.label }}
                </label>
                <div>
                  {{ field }} 
                </div>
                {% if field.help_text %}
                  <p class="text-info">{{ field.help_text }}</p>
                {% endif %}
                {% for error in field.errors %}
                  <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            {% if selected_category %}
            <div class="mt-3 text-center">
                <button type="submit" class="action-btn" style="width: 40%;">Confirm</button>
            </div>
            {% endif %}
        </form>
    </div>
-->
    <div>
    <form method="POST" class="mb-4">
        {% csrf_token %}
        <label for="state">Select Transaction Type:</label>
        <select id="state" name="state" onchange="updateForm()">
            <option value="">--Select--</option>
            {% for value in states %}
            <option value="{{value}}">{{value}}</option>
            {% endfor %}
        </select>

        <div id="Top Up" class="form-section" style="display:none;">
            <label for="top_up_amount">Top-Up Amount:</label>
            <input type="number" name="top_up_amount" step="0.01" class="text-input-box"/>
        </div>

        <div id="Service Payment" class="form-section" style="display:none;">
            <label for="service_id">Service Session Selection:</label>
            <select name="service_id" id="service_id" onchange="updateServicePrice(this)">
                <option value="" data-price="0">--Select--</option>
                {% for service in services %}
                    <option value="{{ service.Id }}" data-price="{{ service.TotalPrice }}">{{ service.Name }} Session {{ service.Session }}</option>
                {% endfor %}
            </select>
            <label for="service_price" >Service Price:</label>
            <input type="number" name="service_price" id="service_price" step="0.01" class="text-input-box" readonly/>
        </div>

        <div id="Transfer" class="form-section" style="display:none;">
            <label for="recipient_phone">Recipient's Phone Number:</label>
            <input type="text" name="recipient_phone" class="text-input-box"/>
            <label for="transfer_amount">Transfer Amount:</label>
            <input type="number" name="transfer_amount" step="0.01" class="text-input-box"/>
        </div>

        <div id="Withdrawal" class="form-section" style="display:none;">
            <label for="bank_name">Bank Name:</label>
            <select name="bank_name">
                <option value="GoPay">GoPay</option>
                <option value="OVO">OVO</option>
                <option value="Virtual Account BCA">Virtual Account BCA</option>
                <option value="BNI">BNI</option>
                <option value="Mandiri">Mandiri</option>
            </select>
            <label for="bank_account">Bank Account Number:</label>
            <input type="text" name="bank_account" class="text-input-box"/>
            <label for="withdrawal_amount">Withdrawal Amount:</label>
            <input type="number" name="withdrawal_amount" step="0.01" class="text-input-box"/>
        </div>

        <div class="mt-3 text-center">
            <button type="submit" class="action-btn" style="width: 40%;">Confirm</button>
        </div>
    </form>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
</div>

<script>
    function updateForm() {
        const state = document.getElementById('state').value;
        document.querySelectorAll('.form-section').forEach(section => section.style.display = 'none');
        if (state) {
            document.getElementById(state).style.display = 'block';
        }
    }

    document.querySelector('form').addEventListener('submit', function(event) {
        // Perform validation
        const state = document.querySelector('#state').value;
        if (!state) {
            event.preventDefault();
            alert("Please select a transaction type.");
        }
    });

    // Update the service price based on the selected service
    function updateServicePrice(selectElement) {
        const service = document.getElementById('service_id').value;
        console.log("doing stuff yeah");
        const selectedOption = selectElement.options[selectElement.selectedIndex];
        const price = selectedOption.getAttribute('data-price');
        document.getElementById('service_price').value = price || '';
    }

</script>
{% endblock content %}
