{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>MyPay</title>
<link rel="stylesheet" href="{% static 'css/mypay.css' %}">
{% endblock meta %}

{% block content %}
<div class="body">
  <div class="container">
    <div class="header">
      <div class="space-between">
        <div class="left-flex-container">Phone Number: {{ phone_number }}</div>
        <div class="right-flex-container">Balance: ${{ balance }}</div>
      </div>
      <a href="{% url 'main:mypay-transaction' %}" class="transact-button">Transact</a>
    </div>
    <div class="transaction-history">
      <h2>Transaction History</h2>
      {% for transaction in transactions %}
      <div class="transaction">
        <div class="amount">{{ transaction.amount }}</div>
        <div class="date">{{ transaction.date }}</div>
        <div class="category">{{ transaction.category }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}