{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profile</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="body max-w-3xl mx-auto bg-white rounded-xl" style="padding-top: 100px;">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-3xl mb-4">My Profile</h1>
        <img class="rounded-full w-48 h-48 mb-4"
             src="{% if user.worker.image_url %}{{ user.worker.image_url }}{% else %}{% static 'images/maddogsquared.jpg' %}{% endif %}"
             alt="Profile Picture">
        <div class="text-left">
            <p>Name: {{ user.username }}</p>
            <p>Level: 5</p>
            <p>Sex: {{ user.sex }}</p>
            <p>Phone Number: {{ user.phone_number }}</p>
            <p>Birth Date: {{ user.birthdate }}</p>
            <p>Address: {{ user.address }}</p>
        </div>
    </div>
</div>
{% endblock content %}
