{% extends 'base.html' %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8" style="padding-top: 70px;">
  <div class="max-w-md w-full space-y-8 form-style">
    
    <!-- Greeting card to choose user type -->
    <div id="user-type-selection">
      <h2 class="text-center text-3xl font-extrabold text-black">Register as a</h2>
      <div class="flex justify-center space-x-4 mt-6">
        <a href="{% url 'main:register_customer' %}" class="text-center bg-[#2299A8] hover:bg-[#1C677E] text-white font-bold py-2 px-4 rounded transition duration-300">
          Customer
        </a>
        <a href="{% url 'main:register_worker' %}" class="text-center bg-[#2299A8] hover:bg-[#1C677E] text-white font-bold py-2 px-4 rounded transition duration-300">
          Worker
        </a>
      </div>
    </div>

    {% if messages %}
    <div class="mt-4">
      {% for message in messages %}
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline">{{ message }}</span>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="text-center mt-4">
      <p class="text-sm text-black">
        Already have an account?
        <a href="{% url 'main:login' %}" class="font-medium text-[#2299A8] hover:text-[#1C677E]">Login here</a>
      </p>
    </div>
  </div>
</div>

{% endblock content %}
