{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Subcategory</title>
{% endblock meta %}

{% block content %}
<div class="max-w-3xl mx-auto bg-white rounded-xl mt-4">
    <div class="flex justify-between mb-4">
        <p class="font-bold p-2 border-4 border-black">Subcategory Name</p>
        <p class="font-bold p-2 border-4 border-black">Category</p>
    </div>
    <p class="inset-y-0 left-0 mr-32 p-2 border-4 border-black mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam quo beatae aliquid, dolorum, nemo animi minus odio recusandae necessitatibus a nulla. Non est iste dignissimos officiis odio eum quisquam voluptatem?</p>
    
    <!-- Serevice Session Container -->
    <div class="p-2 border-4 border-black mb-4">
        <p class="mb-2">Service Session Option</p>
        <div class="p-2 border-4 border-black flex justify-between mb-2">
            <div class="flex justify-start">
                <p class="pr-2 border-r-2 border-black">Service Session</p>
                <p class="pl-2">Price</p>
            </div>
            <div>
                <p>Book Service</p>
            </div>
        </div>
        <div class="p-2 border-4 border-black flex justify-between mb-2">
            <div class="flex justify-start">
                <p class="pr-2 border-r-2 border-black">Service Session</p>
                <p class="pl-2">Price</p>
            </div>
            <div>
                <p>Book Service</p>
            </div>
        </div>
    </div>
    <div class="p-2 border-4 border-black mb-4">
        <p class="mb-2">Workers</p>
        <div class="mx-auto flex justify-between">
            <div class="p-2 border-4 border-black flex justify-between mb-2 px-12">
                <p>Worker 1</p>
            </div>
            <div class="p-2 border-4 border-black flex justify-between mb-2 px-12">
                <p>Worker 2</p>
            </div>
            <div class="p-2 border-4 border-black flex justify-between mb-2 px-12">
                <p>Worker 3</p>
            </div>
            <div class="p-2 border-4 border-black flex justify-between mb-2 px-12">
                <p>Worker 4</p>
            </div>
        </div>
    </div>
    <div class="mx-48 p-2 border-4 border-black mb-4 text-center">
        <a href="#">Join</a>
    </div>
    <div class="p-2 border-4 border-black mb-4">
        <p class="mb-2">Testimonial</p>
        <div class="p-2 border-4 border-black mb-4">
            <p class="text-right font-bold">2024.11.11</p>
            <p class="text-left font-bold">Supercool Guy</p>
            <div class="flex justify-between">
                <p class="pr-24">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita fugiat numquam ipsa minus! Accusamus, inventore! Minus unde ipsa vero laudantium esse quam maxime accusantium quod! Aperiam id at maiores aliquid!</p>
                <div>
                    <p class="font-bold text-center">Hellacool Guy</p>
                    <p class="text-center"> 6.0/5.0</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}