{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profile</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="body max-w-3xl mx-auto bg-white rounded-xl" style="padding-top: 100px;">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-center text-3xl mb-4 font-extrabold text-black">My Profile</h1>
        <img class="rounded-full w-48 h-48 mb-4"
             src="{% if worker_info.PicURL %}{{ worker_info.PicURL }}{% else %}{% static 'images/maddogsquared.jpg' %}{% endif %}"
             alt="Profile Picture">
        <div class="text-left" style=" font-size: small;">
            <p>Name: {{ user_info.Username }}</p>
            <p>Sex: {{ user_info.Sex }}</p>
            <p>Phone Number: {{ user_info.PhoneNum }}</p>
            <p>Birth Date: {{ user_info.DoB }}</p>
            <p>Address: {{ user_info.Address }}</p>
            <p>My Pay Balance : {{ user_info.MyPayBalance }}</p>
            <p>Bank Name: {{ worker_info.BankName }}</p>
            <p>Account Number: {{ worker_info.AccNumber }}</p>
            <p>NPWP: {{ worker_info.NPWP }}</p>
            <p>Rating: {{ worker_info.Rate }}</p>
            <p>Completed Orders Count: {{ worker_info.TotalFinishOrder }}</p>
        </div>
    </div>

    <!-- Update Profile Button -->
    <div class="flex justify-center mt-8">
        <a href="{% url 'main:update-worker-profile' %}" 
           class="bg-[#2299A8] hover:bg-[#1C677E] text-white font-bold py-2 px-4 rounded transition duration-300">
            Update Profile
        </a>
    </div>

</div>
{% endblock content %}
